html {
  margin-bottom: 300px;
}
#baslik {
  text-align: center;
  height: 100%;
  width: auto;
  margin-top: 300px;
  color: rebeccapurple;
}
img {
  height: 300px;
  width: auto;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  li {
    margin-left: 500px;
  }
}
@media (min-width: 1200px) {
  li {
    margin-left: 500px;
  }
}
